html
	head
		title #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous")
	body
		form(method="POST", action="/user")
			input(type=text, name="search", placeholder="Find User")
			//- input(type =text, name="lastname", placeholder="Lastname")
			//- input(type =text, name="email", placeholder="Email")
			input(type= "submit", value="Submit")
		
		input(list="suggestions" id="autocomplete", type=text, name="suggestion", placeholder="Suggestion")
		button(type= "submit", value="Search") Search
		p(id="firstname") hello

	script.
			$(document).ready(function() {
				$("#autocomplete").keyup(function(e) {
					console.log("e.target", e.target.value)
					var suggestion = {input: e.target.value}
					$.ajax( {
						url: "/suggestion",
						datatype: "json",
						type: "POST",
						data: suggestion,						
						success: function(result) {
							$("p").html("Who do you mean: " + result.input)
							console.log("Who do you mean: ", result.input)
						},
						error: function(err) {
							console.log(err)
						} 
					})
				})
			})

	