body
	include navbar
	h1 Hello :) 
	p Here are your search results:
	p Firstname: #{user}
	p Lastname: #{lastname}
	p Email: #{email}
	

	h1 Database
	p
		each item in obj
			each value, key in item
				p #{key}: #{value}